<span class="date">{{model.date}}</span>
<span class="thread">Thread: {{model.thread}}</span> 
<span class="path">{{model.path}}</span>
<span class="path">{{model.method}}</span>

{{#if showMessage}}
    <div class="message">
        {{model.message}}
    </div>
{{/if}}