<span class="date">{{model.date}}</span>
<span class="thread">Thread: {{model.thread}}</span> 
<span class="path">{{model.class}}</span>
<span class="path">{{model.method}}</span>
<span class="message">{{model.message}}</span>

{{#if showMessage}}
    <div class="exception">
        {{model.exception}}
    </div>
{{/if}}